<div class="ui pointing menu">
  {{#link-to "tools.shares.shares" class="item"}}Shares{{/link-to}}
  {{#link-to "tools.shares.mounts" class="item"}}Mounts{{/link-to}}
  <div class="right menu">
    {{#link-to navLink class="item"}}<i class="{{navIcon}} icon"></i> Add {{navName}}{{/link-to}}
  </div>
</div>

{{outlet}}
