<select class="multi" multiple="multiple">
  {{#each options as |item|}}
    <option value={{if item.selectId item.selectId item.id}}>{{if item.selectText item.selectText item.name}}</option>
  {{/each}}
</select>
