html, body, h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
}


/* Main Content */

html {
  position: relative;
  height: 100%;
}

body {
  background-color: #FFF;
  height: 100%;
}

footer {
  height: 20px;
}

.ember-app {
  height: 100%;
}

a:link, a:focus, a:active, a:hover {
  outline: 0;
  text-decoration: none;
}


/* Widgets */

.genesis.message {
  margin-top: 25px !important;
}

.login.column {
  max-width: 450px;
  margin-top: 18%;
}

.text.lead {
  font-size: 24px;
  font-weight: 200;
}

.text.center {
  text-align: center;
}

.text.green {
  color: #398439;
}

.text.red {
  color: #AC2925;
}

.text.black {
  color: #000;
}

.text.monospace {
  font-family: 'Fira Mono', monospace;
}

.card-image {
  min-width: 254px;
  height: 200px;
  padding-top: 60px;
  text-align: center;
  font-size: 84px;
  color: #FFF;
}

.card-image-unique {
  width: 266px;
  padding-top: 0;
  margin: 0 20px;
}

.card-image-unique i {
  margin-top: 20%;
}

.card-image-center {
  margin-left: auto;
  margin-right: auto;
}

.card-image.red {
  background-color: #AC2925;
}

.card-image.blue {
  background-color: #285E8E;
}

.card-image.orange {
  background-color: #D58512;
}

.card-image.green {
  background-color: #398439;
}

.card-image.teal {
  background-color: #269ABC;
}

.card-image.olive {
  background-color: #AAD500;
}

.card-image.violet {
  background-color: #7400CB;
}

.genesis-logo img {
  width: 65px;
}

.table > tbody > tr > td {
    line-height: 2;
}

.btn,
.btn-group-sm > .btn,
.btn-group-lg > .btn,
input.form-control {
  border-radius: 0;
}

.btn i {
  line-height: 1;
}

.input-group .btn {
  padding-top: 7px;
}

.btn-tipicon {
  margin: 2px;
  padding: 0;
}

.g-user-info {
  color: #FFF;
  margin-top: 25px;
}

.g-user-info a {
    color: #FFF;
}

.table .is-pending > td {
    background-color: #F5F5F5;
    color: #777777;
}

.ui-user-info a {
  color: #FFF;
  padding: 5px;
}

.ui-fm-item {
  display: inline-block;
  margin: 5px 15px;
  text-align: center;
  max-width: 90px;
}

.ui-fm-item:hover {
  cursor: pointer;
}

.ui-fm-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-fm-item i {
  margin-bottom: 5px;
  overflow: visible;
}

.ui-fade {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000000;
}

.ui-loader {
  display: none;
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: 1000001;
  padding: 15px;
  border-radius: 6px;
  overflow: hidden;
  color: #FFF;
}

.ui-loader h1 {
  margin: 0;
}

.btn-outline-inverse, .btn-outline-inverse-gray {
  color: #fff;
  background-color: transparent;
  border-color: #E0EBF3;
}
.btn-outline-inverse-warn {
  color: #D2322D;
  background-color: transparent;
  border-color: #D2322D;
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
  color: #D1DBBD;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}
.btn-outline-inverse-gray:hover,
.btn-outline-inverse-gray:focus,
.btn-outline-inverse-gray:active {
  color: #3E3E3E;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}
.btn-outline-inverse-warn:hover,
.btn-outline-inverse-warn:focus,
.btn-outline-inverse-warn:active {
  color: #3E3E3E;
  text-shadow: none;
  background-color: #D2322D;
  border-color: #AC2925;
}

.ui-app-logo {
  margin-left:auto;
  margin-right:auto;
  max-width: 400px;
  margin-bottom: 20px;
}

.ui-homebutton, .ui-appbutton {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  border: 1px solid #CCC;
  margin: 10px;
  padding: 0px 10px 10px 15px;
  width: 200px;
  height: 150px;
}

.ui-homebutton, .ui-appbutton {
  padding: 0;
}

.ui-appbutton h1 {
  line-height: 1.5;
}

.form-group > .col-md-10 {
  padding-top: 7px;
  margin-bottom: 0;
}

.input-group-addon:first-child {
  border-radius: 0;
}

.app-logo {
  max-height: 150px;
}

.ui-items, .ui-items-3, .ui-items-4 {
  margin-bottom: 30px;
}

.ui-item {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 10px;
  width: 45%;
  min-width: 250px;
  border: 1px solid #CCC;
  white-space: nowrap;
}

.ui-item.is-pending {
  color: #777777;
}

.ui-items-3 > .ui-item {
  width: 350px;
}

.ui-items-4 > .ui-item {
  width: 260px;
}

.ui-item-icon {
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ui-item-content {
  width: 70%;
  display: inline-block;
}

.ui-item-content h2,
.ui-item-content .lead {
  overflow: hidden;
}

.ui-item-buttons {
  margin: 10px 0;
  white-space: normal;
}

.ui-item-button {
  display: inline-block;
  margin: 5px;
  text-align: center;
}

.ui-item-button.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.ui-items-3 > .ui-item > .ui-item-content {
  max-width: 254px;
}

.ui-items-4 > .ui-item > .ui-item-content {
  max-width: 160px;
}

.ui-firstrun-items .ui-item {
  background-color: #FFF;
  min-height: 150px;
  white-space: normal;
}

.ui-firstrun-items .ui-item.selected {
  background-color: #2ECC71;
  color: #FFF;
  border-color: #2ECC71;
}

.ui-firstrun-items .ui-item.selected:hover {
  background-color: #1DB35C;
  border-color: #1DB35C;
}

.ui-firstrun-items .ui-item:hover, .ui-homebutton:hover, .ui-appbutton:hover {
  background-color: #EBEBEB;
  border-color: #ADADAD;
  cursor: pointer;
}

.ms-container {
  width: inherit;
}

.ms-container .ms-list {
  border-radius: 0;
}

.has-error .ms-container .ms-list {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-success .ms-container .ms-list {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

i:not(.fa) {
  line-height: 1;
}


/* Alerts, Modals and Message Boxes */

.message-box-wr {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px 10px;
  z-index: 1000002;
}

.alert {
  width: 500px;
  overflow: hidden;
  margin: 0 0 5px;
  border-radius: 0;
}

.alert-warning {
  background-color:#F4A425;
  color: #FFF;
  border: 0px;
}

.alert-danger {
  background-color:#E74C3C;
  color: #FFF;
  border: 0px;
}

.alert-info {
  background-color:#5BC0DE;
  color: #FFF;
  border: 0px;
}

.alert-success {
  background-color:#43AC6A;
  color: #FFF;
  border: 0px;
}

.alert-dismissable .close {
  opacity: 0.4;
}

.modal-content {
  border-radius: 0;
}

.modal-footer {
  padding: 15px 20px 15px;
}

button.close {
  line-height: 1.5;
}

#warning-text {
  display: inherit;
  margin-bottom: 10px;
}

.alert > i {
  line-height: 1;
  float: left;
  display: inline-block;
  font-size: 36px;
  margin: 2px 10px 0 0;
}

.ui-alert-text {
  display: inline-block;
  float: left;
  width: 80%;
}

#codemirror, .CodeMirror {
  height: 500px;
}

.CodeMirror span {
  font-family: "Fira Mono", monospace;
}


/* Special */

.auth-group {
  margin-top: 15%;
}

.firstrunpage {
  padding-top: 25px;
}

.text-thin {
  font-weight: 100;
}

.ui-firstrun-stripe {
  margin-top: 20px;
  background-color: #3E606F;
  /*background-color:#D1DBBD;*/
  color:#FFF;
  padding:25px 0px 35px 0px;
  text-align:center;
  text-shadow:0px 1px 3px rgba(0,0,0,0.4), 0px 0px 30px rgba(0,0,0,0.075);
  box-shadow:inset 0px 7px 10px -10px #000,inset 0px -5px 10px -10px #000;
  margin-bottom:30px;
}

.ui-firstrun-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.ui-firstrun-image {
  margin-bottom: 20px;
}


/* Themes */

.genesis-theme-default {
  /*background: url('/img/arkos-pattern.png') repeat;*/
}

.genesis-theme-default .navbar .nav > li > a {
  color: #FFF;
}

.genesis-theme-default .navbar .nav > li > a:hover,
.genesis-theme-default .navbar .nav > li > a:focus,
.genesis-theme-default .navbar .nav .open > a,
.genesis-theme-default .navbar .nav .open > a:hover,
.genesis-theme-default .navbar .nav .open > a:focus {
  color: #165389;
  background-color: #FFF;
}
