html, body, h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
}


/* Main Content */

html {
  position: relative;
  height: 100%;
}

body {
  background-color: #FFF;
  height: 100%;
}

footer {
  height: 20px;
}

.ember-app {
  height: 100%;
}

a:link, a:focus, a:active, a:hover {
  outline: 0;
  text-decoration: none;
}


/* Widgets */

#package-ops-table {
  max-height: 450px;
  overflow: scroll;
}

.ui-fm-selected {
  color: #2185D0;
}

.ui-fm-selected p {
  border-radius: 5px;
  background-color: #2185D0 !important;
  border-color: #2185D0 !important;
  color: #FFFFFF !important;
}

#file-manager-pushable {
  height: 500px;
  overflow: scroll;
}

.genesis.message {
  margin-top: 25px !important;
}

.login.column {
  max-width: 450px;
  margin-top: 15%;
}

.login img {
  width: 200px;
  margin: 20px;
}

.ui-firstrun-image {
  width: 200px;
  margin-top: 20%;
}

.text.large {
  font-size: 36px;
}

.text.thin {
  font-weight: 200;
}

.text.lead {
  font-size: 24px;
  font-weight: 200;
}

.text.center {
  text-align: center !important;
}

.text.green {
  color: #398439;
}

.text.blue {
  color: #285E8E;
}

.text.red {
  color: #AC2925;
}

.text.black {
  color: #000;
}

.text.monospace {
  font-family: 'Fira Mono', monospace;
}

.card-image {
  min-width: 254px;
  height: 200px;
  padding-top: 90px;
  text-align: center;
  font-size: 84px;
  color: #FFF;
}

.card-image-unique {
  width: 266px;
  padding-top: 0;
  margin: 0 20px;
}

.card-image-unique i {
  margin-top: 35%;
}

.card-image-center {
  margin-left: auto;
  margin-right: auto;
}

.card-image.red {
  background-color: #AC2925;
}

.card-image.blue {
  background-color: #285E8E;
}

.card-image.orange {
  background-color: #D58512;
}

.card-image.green {
  background-color: #398439;
}

.card-image.teal {
  background-color: #269ABC;
}

.card-image.olive {
  background-color: #AAD500;
}

.card-image.violet {
  background-color: #7400CB;
}

.genesis-logo img {
  width: 65px;
}

.ui-fm-item {
  display: inline-block;
  margin: 5px 15px;
  text-align: center !important;
  max-width: 90px;
}

.ui-fm-item:hover {
  cursor: pointer;
}

.ui-fm-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-fm-item i {
  margin-bottom: 5px;
  overflow: visible;
}

.ui-app-logo {
  margin-left:auto;
  margin-right:auto;
  max-width: 400px;
  margin-bottom: 20px;
}


/* Alerts, Modals and Message Boxes */

.message-box-wr {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 450px;
  padding: 20px 10px;
  z-index: 1000002;
}

#codemirror, .CodeMirror {
  height: 500px;
}

.CodeMirror span {
  font-family: "Fira Mono", monospace;
}


/* Themes */

.genesis-theme-default {
  /*background: url('/img/arkos-pattern.png') repeat;*/
}

.genesis-theme-default .navbar .nav > li > a {
  color: #FFF;
}

.genesis-theme-default .navbar .nav > li > a:hover,
.genesis-theme-default .navbar .nav > li > a:focus,
.genesis-theme-default .navbar .nav .open > a,
.genesis-theme-default .navbar .nav .open > a:hover,
.genesis-theme-default .navbar .nav .open > a:focus {
  color: #165389;
  background-color: #FFF;
}
