{{#g-modal title="Adding Domain" icon="fa-code" ok="save" close="removeModal"}}
    <form {{action 'ok' on='submit' target=view}}>
        <div class="form-group">
            <label for="name">Domain Name</label>
            {{input type="text" class="form-control required" value=name}}
        </div>
    </form>
{{/g-modal}}
