# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/lib
/tmp
*.tgz

# Dependencies
/node_modules
/bower_components

# Eclipse project files 
.project

# Logs
/libpeerconnection.log
npm-debug.log
testem.log

# Misc
/.sass-cache
/connect.lock
/coverage
/.settings

