# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
*.tgz

# dependencies
/node_modules
/bower_components

# eclipse
.project

# misc
/lib
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
/tests
/.settings
/app/resolver.js
npm-debug.log
testem.log
testem.js
