recursive-include genesis * *.*
recursive-exclude genesis *~ *.pyc
recursive-exclude packaging * *.*
include README
include COPYRIGHT
include LICENSE
include Makefile
include packaging/files/genesis.conf
include packaging/files/admin.conf
include packaging/files/genesis
include packaging/files/.placeholder
