{{#g-modal title="Decrypt Filesystem" icon="fa-unlock" ok="save" close="removeModal"}}
  <div class="form-group">
    <label for="passwd" class="control-label">Password to decrypt {{model.id}}</label>
    {{input type="password" class="form-control password required" value=model.passwd}}
  </div>
{{/g-modal}}
