<div class="ui-firstrun-container">
  <div class="text-center">
    <img class="ui-firstrun-image" src="/img/logo-round.png" />
    <p>This wizard will walk you through the steps needed to set up your new arkOS server. This process may take a few minutes as the different settings are modified by the system. Please do not turn off or restart your arkOS server until you have successfully completed this wizard.</p>
    <p>When you are ready, click Start to begin.</p>
    <a href="#" class="btn btn-primary btn-lg" {{action "nextStep"}}><i class="fa fa-check"></i> Start</a>
  </div>
</div>
