<div class="ui segment">
  <form class="ui form" {{action 'ok' on='submit'}}>
    <h4 class="ui dividing header">Add new domain</h4>
    <div class="required field">
      <label>Domain name</label>
      {{input type="text" value=name}}
    </div>
    <button type="submit" class="ui button"><i class="fa fa-fw fa-floppy-o"></i> Save</button>
  </form>
</div>
