<xml>
    <dialogbox id="dlgAcl">
        <tabcontrol id="acltabs" active="a0">
            <tabheader text="Permissions" id="a0"/>
            <tabheader text="ACLs" id="a1"/>

            <tabbody id="a0">
                <dt id="plist" width="100%">
                    <dtr header="True">
                        <dth />
                        <dth>
                            <label text="Read"/>
                        </dth>
                        <dth>
                            <label text="Write"/>
                        </dth>
                        <dth>
                            <label text="Execute"/>
                        </dth>
                    </dtr>
                </dt>
                <pad id="recur" />
            </tabbody>

            <tabbody id="a1">
                <label size="3" text="Current ACLs"/>
                <pad>
                    <dt id="alist" width="100%">
                        <dtr header="True">
                            <dth>
                                <label text="Subject"/>
                            </dth>
                            <dth>
                                <label text="Access"/>
                            </dth>
                            <dth />
                        </dtr>
                    </dt>
                </pad>
                <br/>
                <label size="3" text="Create new ACL"/>
                <formbox hidecancel="True" id="frmAddAcl">
                    <formline text="Subject" help="u:john, g:admins, default:u:jack, mask:, other:, u:, g:">
                        <textinput name="subject" />
                    </formline>
                    <formline text="Permissions" help="r, w, x, rw, rwx, ...">
                        <textinput name="perm" />
                    </formline>
                </formbox>
            </tabbody>
        </tabcontrol>
    </dialogbox>
</xml>
