{{#g-modal title="Adding Database" icon="fa-database" ok="save" close="removeModal"}}
  <form {{action 'ok' on='submit' target=view}}>
    <div class="form-group">
      <label for="type">Database Type</label>
      {{ember-selectize selection=type value=type content=model.types required=true placeholder="Select a database type" optionLabelPath="content.name" optionValuePath="content.id"}}
    </div>
    <div class="form-group">
      <label for="id">Database Name</label>
      {{input type="text" class="form-control required" value=id}}
    </div>
  </form>
{{/g-modal}}
