{{#g-modal title="Download File(s)" icon="fa-download" close="removeModal"}}
    <p>Click each icon below to download the requested item. Folders will be downloaded as archive (.zip) files.</p>
    <div class="text-center">
        {{#each file in files}}
        <div style="display: inline-block">
            <a href="{{unbound kh}}/files/{{unbound file.id}}?download=true"}}>
                <i {{bind-attr class=":fa :fa-5x :fa-fw file.icon"}}></i>
                <p>{{file.name}}</p>
            </a>
        </div>
        {{/each}}
    </div>
{{/g-modal}}
