{{#g-modal title="New File" icon="fa-file-o" ok="save" close="removeModal"}}
    <div class="form-group">
        <label for="name" class="control-label">New file name</label>
        {{input type="text" class="form-control required" value=newFile}}
    </div>
{{/g-modal}}
