{{#g-modal title="New Folder" icon="fa-folder-o" ok="save" close="removeModal"}}
  <div class="form-group">
    <label for="name" class="control-label">New folder name</label>
    {{input type="text" class="form-control required" value=newFile}}
  </div>
{{/g-modal}}
