{{#g-modal title="Open File or Directory" icon="fa-folder-open" okWord="Open" ok="save" close="removeModal"}}
  <div class="form-group">
    <label for="path" class="control-label">Path to open</label>
    {{input type="text" class="form-control required" value=path}}
  </div>
{{/g-modal}}
