{{#g-modal title="Upload File(s)" icon="fa-upload" ok="save" close="removeModal"}}
  <div class="form-group">
    <label for="files">Files to upload</label>
    {{input type="file" name="file" class="required" multiple="true"}}
  </div>
{{/g-modal}}
