{{#g-modal title="Editing Group" icon="fa fa-users" ok="save" close="removeModal"}}
    <form {{action 'ok' on='submit' target=view}}>
        <div class="form-group">
            <label for="name">Group Name</label>
            {{input type="text" class="form-control" value=name disabled=true}}
        </div>
        <div class="form-group">
        <h4>Members</h4>
            {{g-multiselect options=extra.users selected=users addAction="addSelectedId" removeAction="removeSelectedId" }}
        </div>
    </form>
{{/g-modal}}
