{{#g-modal title="Add Public Key" icon="fa-key" ok="save" close="removeModal"}}
  <form {{action 'ok' on='submit' target=view}}>
    <div class="form-group">
      <label for="key">For user</label>
      {{#x-select class="form-control required" action="didMakeSelection" default=keyUser}}
        {{#each model.users as |user|}}
          {{#x-option value=user.name}}{{user.name}}{{/x-option}}
        {{/each}}
      {{/x-select}}
    </div>
    <div class="form-group">
      <label for="key">Paste public key here</label>
      {{textarea class="form-control required" value=key}}
    </div>
  </form>
{{/g-modal}}
