{{#g-modal title="Certificate Authorities" icon="fa-certificate" close="removeModal"}}
    <table class="table">
        <tr>
            <th width="1"></th>
            <th>Name</th>
            <th width="200">Actions</th>
        </tr>
        {{#each cert in model.auths}}
        <tr>
            <td><i class="fa fa-certificate"></i></td>
            <td>{{cert.id}}</td>
            <td>
                <div class="btn-group btn-group-sm">
                    <a {{bind-attr href=cert.downloadHref}} class="btn btn-default"><i class="fa fa-download"></i> Download</a>
                    <a href="#" class="btn btn-danger" {{action 'delete' cert}}><i class="fa fa-minus-circle"></i> Delete</a>        
                </div>
            </td>
        </tr>
        {{else}}
        <tr>
            <td colspan=6 class="text-center">None</td>
        </tr>
        {{/each}}
    </table>
{{/g-modal}}
