{{#g-modal title="About" icon="fa-question-circle" close="removeModal"}}
  <div class="text-center">
    <p class="lead">Genesis {{app-version}}</p>
    <div class="btn-group">
      <a class="btn btn-default" href="https://bbs.arkos.io/" target="_blank"><i class="fa fa-comments"></i> Community</a>
      <a class="btn btn-default" href="https://www.gnu.org/licenses/gpl.html" target="_blank"><i class="fa fa-certificate"></i> License</a>
    </div>
  </div>
{{/g-modal}}
