{{#each app in model}}
    {{#if app.displayInMenu}}
    {{#link-to app.displayHref tagName='div' class="ui-homebutton"}}
        <h1 class="text-center"><i {{bind-attr class=":fa-2x app.icon"}}></i></h1>
        <h4 class="text-center">{{app.name}}</h4>
    {{/link-to}}
    {{/if}}
{{/each}}
