{{#each app in sortedApps}}
    {{#if app.displayInMenu}}
    <div class="ui-homebutton" {{action 'openApplication' app}}>
        <h1 class="text-center"><i {{bind-attr class=":fa-2x app.icon"}}></i></h1>
        <h4 class="text-center">{{app.name}}</h4>
    </div>
    {{/if}}
{{else}}
    <div class="text-center">
        <h1 class="fa fa-cube fa-5x"></h1>
        <p class="lead">No applications installed yet. Go to the App Store to find some.</p>
    </div>
{{/each}}
