<div class="ui four cards">
  {{#each filteredApps as |app|}}
    <a class="ui card" {{action 'openApplication' app}}>
      <div class="image">
        <div class="{{app.cardColor}}">
          <i class="{{app.icon}}"></i>
        </div>
      </div>
      <div class="content">
        <div class="header">{{app.name}}</div>
      </div>
    </a>
  {{/each}}
  {{#link-to 'apps' class='ui card'}}
    <div class="image">
      <div class="card-image blue">
        <i class="cubes icon"></i>
      </div>
    </div>
    <div class="content">
      <div class="header">App Store</div>
    </div>
  {{/link-to}}
</div>
